@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./pics/space.jpg");
  background-size: 100%;
  background-color: rgb(0,0,0);
}